.picker-ipt{
  box-sizing: border-box;
  position: relative;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 38px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.picker-ipt:hover{
  border-color: #409eff;
}
.picker-ipt-ico{
  width: 30px;
}
.picker-ipt-ico i{
  display: block;
  padding: 0px 8px;
  width: 50%;
  color: #8a8a8a;
}
.picker-ipt-text{
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 13px;
  color: #606266;
  text-align: left;
}
.picker-ipt-placeholder{
  color: #aaa;
}
.picker{
  position: absolute;
  left: 0px;
  top: 37px;
  max-height: 407px;
  z-index: 1000;
  width: 325px;
  border: 1px solid #e4e7ed;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  background: #fff;
  border-radius: 4px;
  padding: 10px 10px 20px 10px;
}
.picker-header{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.picker-header-item{
  box-sizing: border-box;
  /*flex: 1;*/
  margin: 0px 5px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}
.picker-header-item i{
  font-size: 13px;
  display: block;
  color: #8a8a8a;
}
.picker-header-item i:hover{
  color: #409eff;
}
.picker-header-date{
  flex: 4;
  cursor: pointer;
  text-align: center;
}
.picker-week{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.picker-week-item{
  width: 14.28%;
  text-align: center;
}
.picker-date{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #eee;
}
.picker-date-item{
  width: 14.28%;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.picker-month-item{
  width: 25%;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.picker-year-item{
  width: 25%;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.picker-date-item-text{
  display: inline-block;
  width: 24px;
  line-height: 24px;
  color: #333;
  font-size: 13px;
  cursor: pointer;
  user-select: none;
  text-align: center;
}
.picker-month-item-text,.picker-year-item-text{
  display: inline-block;
  padding: 2px 5px;
  color: #333;
  font-size: 13px;
  cursor: pointer;
  user-select: none;
  text-align: center;
}
.current-date{
  border-radius: 50%;
  background: #409eff;
  color: #fff;
}
.disabled-current-date,
.disabled-current-month,
.disabled-current-year{
  color: #999;
  cursor: not-allowed;
}
.disabled-current-date:hover,
.disabled-current-month:hover,
.disabled-current-year:hover{
  color: #999!important;
}
.current-month,.current-year{
  border-radius: 3px;
  background: #409eff;
  color: #fff;
}
.picker-date-item-text:hover{
  color: #409eff;
}
.current-date:hover{
  color: #fff;
}
.picker-month-item-text:hover,
.picker-year-item-text:hover{
  color: #409eff;
}
.current-month:hover,
.current-year:hover{
  color: #fff;
}

.picker-datetime{
  display: flex;
  margin-bottom: 10px;
}
.picker-datetime-item{
  flex: 1;
  padding: 5px;
  text-align: center;
}

.picker-datetime-item span{
  display: inline-block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
}
.picker-datetime-item span:hover{
  border: 1px solid #409eff;
}

.picker-datetime-item.timePick{
  position: relative;
}

.picker-datetime-time{
  position: absolute;
  width: 141px;
  border: 1px solid #e4e7ed;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  padding: 5px 10px;
  background: #fff;
}
.datetime-content{
  display: flex;
}
.datetime-content-grounp{
  display: flex;
  flex: 1;
  flex-direction: column;
}
.datetime-content-item{
  flex: none;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  color: #ccc;
  cursor: pointer;
  text-align: center;
}
.datetime-content-item-current{
  border-top: 1px solid #409eff;
  border-bottom: 1px solid #409eff;
  color: #409eff;
}
.datetime-foot{
  display: flex;
  flex-direction: row-reverse;
}
.datetime-foot-btn{
  padding: 5px 5px 5px 0px;
  margin-left: 5px;
  font-size: 13px;
  color: #555;
  background: #fff;
  cursor: pointer;
}
.datetime-foot-btn.success{
  color: #409eff;
}