<%- include head.ejs %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-md-offset-4">
            <h2><%= title %>页</h2>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">账号</label>
                    <input type="text" class="form-control" name="username" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">密码</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default">登录</button>
            </form>
            <a href="/admin/reg">没有账号？注册一个吧</a> 
        </div>
    </div>   
</div>
<script src="/js/jquery.js"></script>
<script src="/js/layer.js"></script>
<script src="/js/login.js"></script>
<%- include foot.ejs %>